:root{
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient( 120deg, #facc11 30%, #52bbb5 );
    --vp-home-hero-image-background-image: linear-gradient( -45deg, #facc11 50%, #52bbb5 50% );
    --vp-home-hero-image-filter: blur(60px);
}